@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
	background-color: rgb(64, 64, 64);
	max-width: 1920px;
	margin: 0 auto;
}

.Mynd{
	height: auto;
	float: left;
	transition: box-shadow 0.5s;
	cursor: pointer;
	margin: none;
	padding: none;
	display: inline-block;
	background-size: cover;
	max-width: 320px;
}
/*.Mynd:hover{
	box-shadow: inset 0 0 0 170px rgba(255,255,255,0.2);
}*/
.Mynd h1{
	font-family: "Roboto", sans-serif;
	color: white;
	text-align: center;
	position: relative;
	top: 62%;
	opacity: 1;
	margin: 0;
	transition: opacity 0.5s;
}
.Mynd:hover h1{
	opacity: 1;
}

.Mynd a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
iframe{
	border: none;
	transition: height 1s ease-in-out;
}


h1{
	font-family: "Roboto", sans-serif;
	color: white;
}
h2{
	font-family: "Roboto", sans-serif;
	color: white;
}
h3{
	font-family: "Roboto", sans-serif;
	color: white;
}
h4{
	font-family: "Roboto", sans-serif;
	color: white;
}
p{
	line-height: 30px;
	padding: 7px;
	font-family: "Roboto", sans-serif;
	color: white;
}
img{
	float: left;
}
a{
	color: white;
}
a:hover{
	color: rgb(39,158,255);
}

.shadow {
    position: absolute;
    box-shadow: inset 0 0 0 170px rgba(255,255,255,0.2);
    top: 0;
    left: 0;
    opacity: 0;
}
/*.shadow:hover{
	opacity: 1;
}*/

.frontpage{
	margin-top: -2.4em;
}



input{
	display: none;
	height: 0px;
}

.Opener{
	max-width: 640px;
	height: auto;
}
.container{
	position: relative;
	max-width: 1920px;
	clear: both;
	float: left;
	padding: 0em;
    overflow: hidden;
	display: block;
	clear: none;
	margin: 0em;
	width: 0px;
	max-height: 0px;
}

.Plata{
	max-width: 320px;
	height: auto;
	float: left;
}


@media screen and (min-width: 0em){

.Mynd h1{
	opacity: 1;
}
.frontpage,
.main,
.Plata,
.Opener{
	width: 100%;
	height: auto;
	border: 0.2em solid grey;
	}
	.main{
	width: 100%;
	max-height: 200em;
	float: left;
}

 #rbTS:checked ~	 #TsContainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding-right: 2em;
  animation:  popp 5s 1;
  animation-direction: alternate;
}
#Coldplay:checked ~ #CPcontainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding-right: 2em;
  animation:  popp 5s 1;
  animation-direction: alternate;
}

#rbRobbie:checked ~ #RBcontainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding-right: 2em;
  animation:  popp 5s 1;
  animation-direction: alternate;

@keyframes popp {

  0% {
    width: 0%;
    max-height:0em;
  }
  5%{
  	max-height: 0em;
  	width: 100%;
  }
  100% {
    max-height: 150em;
  }

}
}
	
  @media screen and (min-width: 120em){
.Opener{
	width: 25%;
	height: auto;
}
.Mynd h1{
	opacity: 0;
	color: white;
}
.main{
	width: 25%;
	max-height: 740px;
	float: left;
}
.Plata{
	width: 25%;
	max-height: 700px;
	float: left;
	height: 320px;
}
#rbTS:checked ~	 #TsContainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding: 0.1em;
  animation:  dropp 4s 1;
  animation-direction: alternate;
}

#Coldplay:checked ~ #CPcontainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding: 0.1em;
  animation:  dropp 4s 1;
  animation-direction: alternate;
}

#rbRobbie:checked ~ #RBcontainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	padding: 0.1em;
  animation:  dropp 4s 1;
  animation-direction: alternate;
}
@keyframes dropp {

  0% {
    width: 0%;
    max-height:0em;
    margin-right: 100em;
  }
  35%{
  	max-height: 0em;
  	width: 100%;
  }
  100% {
    max-height: 150em;
  }

}


}