@import url(http://fonts.googleapis.com/css?family=Oswald);

body{
	background-color: rgb(64, 64, 64);
	max-width: 1920px;
	margin: 0 auto;
}

.Mynd{
	height: auto;
	float: left;
	transition: box-shadow 0.5s;
	cursor: pointer;
	margin: none;
	padding: none;
	display: inline-block;
	background-size: cover;
	max-width: 320px;
}
/*.Mynd:hover{
	box-shadow: inset 0 0 0 170px rgba(255,255,255,0.2);
}*/
.Mynd h1{
	font-family: "Roboto", sans-serif;
	color: white;
	text-align: center;
	position: relative;
	top: 62%;
	opacity: 1;
	margin: 0;
	transition: opacity 0.5s;
}
.Mynd:hover h1{
	opacity: 1;
}

.Mynd a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
iframe{
	border: none;
	transition: height 1s ease-in-out;
}
.shadow {
    position: absolute;
    box-shadow: inset 0 0 0 170px rgba(255,255,255,0.2);
    top: 0;
    left: 0;
    opacity: 0;
}
/*.shadow:hover{
	opacity: 1;
}*/

.frontpage{
	margin-top: -2.4em;
}



input{
	display: none;
	height: 0px;
}

.Opener{
	max-width: 640px;
	height: auto;
}
.container{
	position: relative;
	max-width: 1920px;
	clear: both;
	float: left;
	padding: 0em;
    overflow: hidden;
	display: block;
	clear: none;
	margin: 0em;
	width: 0px;
	max-height: 0px;
  transition: all 1s ease;
}

.Plata{
	max-width: 320px;
	height: auto;
	float: left;
}
.main{
	width: 640px;
	height: 640px;
	float: left;
}

@media screen and (min-width: 0em){
.frontpage,
.Mynd{
	width: 100%;
	height: auto;
}
.Mynd h1{
	opacity: 1;
}
  }

 #rbTS:checked ~	 #TsContainer{
	width: 100%;
	max-height: 2000em;
	padding-right: 2em;
}
.Plata,
.Opener{
	width: 100%;
	height: auto;
	}

	
  @media screen and (min-width: 60em){
.Mynd h1{
	opacity: 0;
	color: white;
}

#rbTS:checked ~	 #TsContainer{
	width: 100%;
	max-height: 2000em;
	border: 0.8em solid #777;
	border-left: none;
	padding: 0.1em;
}
.Texti_vid_plotu{
	width: 320px;
	height: 320px;
	float: left;
}


}